[MASTER]
ignore=venv,env,__pycache__

[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0902,  # too-many-instance-attributes
    R0903,  # too-few-public-methods
    R0912,  # too-many-branches
    R0915,  # too-many-statements
    W0511,  # fixme
    C0301   # line-too-long,
    R0911,  # too-many-return-statements
    R1737,  # use-yield-from
    W0612,  # unused-argument
    C0103   # invalid-name

[REPORTS]
output-format=colorized
score=yes

[TYPECHECK]
ignored-modules=cv2,skimage,skimage.transform,skimage.feature,numpy,pandas
ignored-classes=numpy.ndarray

[DESIGN]
max-args=7
max-locals=25
max-attributes=10
max-branches=20
max-statements=80

[SPELLING]
spelling-ignore-words=
spelling-store-unknown-words=no
max-spelling-suggestions=4

