[MASTER]
ignore=venv,env,__pycache__

[MESSAGES CONTROL]
disable=
    C0114, 
    C0115, 
    C0116, 
    R0902, 
    R0903, 
    R0912, 
    R0915, 
    W0511,
    C0301 ,
    R0911,
    R1737,
    W0612,
    C0103 

[REPORTS]
output-format=colorized
score=yes

[TYPECHECK]
ignored-modules=cv2,skimage,skimage.transform,skimage.feature,numpy,pandas
ignored-classes=numpy.ndarray

[DESIGN]
max-args=7
max-locals=25
max-attributes=10
max-branches=20
max-statements=80

[SPELLING]
spelling-ignore-words=
spelling-store-unknown-words=no
max-spelling-suggestions=4

