[MASTER]
ignore=venv,env,__pycache__

[MESSAGES CONTROL]
disable=
 C0114,
 C0115,
 C0116,
 R0902,
 R0903,
 R0912,
 R0915,
 W0511,
 R0911,
 R1737,
 W0612,
 R0917,
 W0640,
 W0311,
 R0914,
 W0718,
 C0415,
 W0603,
 C0103,
 C0303,
 C0301,
 C0325,
 R0913

[REPORTS]
output-format=colorized
score=yes

[TYPECHECK]
ignored-modules=cv2,skimage,skimage.transform,skimage.feature,numpy,pandas
ignored-classes=numpy.ndarray

[DESIGN]
max-locals=50
max-attributes=10
max-branches=25
max-statements=100
