[MASTER]
jobs=4
limit-inference-results=100
persistent=yes
unsafe-load-any-extension=no
extension-pkg-allow-list=

[MESSAGES CONTROL]
disable=C0325,R0917,W0640,W0311,R0914,W0718,C0415,W0603,C0103,missing-module-docstring,missing-function-docstring,missing-class-docstring

[REPORTS]
output-format=text
reports=no

[REFACTORING]
max-nested-blocks=5

[BASIC]
good-names=i,j,k,ex,Run,_

[DESIGN]
max-args=5
max-attributes=7
max-bool-expr=5
max-branches=12
max-locals=15
max-parents=7
max-public-methods=20
min-public-methods=2

[VARIABLES]
ignore-none=yes

[FORMAT]
expected-line-ending-format=
max-line-length=120

[LOGGING]
logging-format-style=old

[MISCELLANEOUS]
notes=FIXME,XXX,TODO

[TYPECHECK]
ignore-mixin-members=yes

[SPELLING]
